%footer#footer
  = link_to 'http://eurucamp.org', :title => 'eurucamp.org', :class => 'twin' do
    %small Presented as part of
    %img(src="/images/layout/footer/eurucamp_logo.png" alt="eurucamp.org logo")
  = partial 'partials/primary_navigation'
  = partial 'partials/secondary_navigation'

  %ul.links
    %li.twitter
      %a(href="https://twitter.com/jrubyconfeu" title="JRubyConf EU on Twitter") @jrubyconfeu
    %li.lanyrd
      %a(href="http://lanyrd.com/2012/jrubyconfeu" title="JRubyConf EU on Lanyrd") Lanyrd
    %li.facebook
      %a(href="https://www.facebook.com/pages/JRubyConf-EU/280989412009254" title="JRubyConf EU on Facebook") Facebook
    %li.jruby
      %a(href="http://jruby.org" title="JRuby") JRuby


  %script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAOu7SQll9IyZ_csBrwRS7WBh-6by8_IQE&sensor=true")
