= link_to '#footer', :id => 'jump-to-nav' do
  %img(src="/images/layout/jump_to_main_nav.png" width="20" height="13" alt="Jump to main navigation")

= wrapped :header, :id => 'header' do
  %h1
    %a(href='/')
      %img(src="/images/layout/header/logo.png" alt="JRubyConf EU")

  = partial 'partials/primary_navigation'
